<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appnghenhaconline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".dataLocalManager.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNgheNhacOnline"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".activity.ForgotPassword.ResetPasswordSendNewPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ForgotPassword.ResetPasswordSendResetCodeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ForgotPassword.ResetPasswordSendEmailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.UserPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".activity.UserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PlayMusicActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:noHistory="false"
            android:windowSoftInputMode="adjustResize"/>

        <service
            android:name=".dataLocalManager.Service.MyService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".dataLocalManager.Receiver.MyReceiver" />
    </application>

</manifest>